.icon {
  display: block;
  width: 24px;
  height: 24px;

  &--phone {
    background-image: url("../img/header/phone-icon.svg");
  }

  &--menu {
    background-image: url("../img/header/menu-icon-open.svg");
  }

  &--close {
    background-image: url("../img/header/menu-icon-close.svg");
  }

  &--facebook {
    background-image: url("../img/footer/fb-logo.svg");
  }

  &--instagram {
    background-image: url("../img/footer/insta-logo.svg");
  }

  &--twitter {
    background-image: url("../img/footer/twitt-logo.svg");
  }
}