.icon {
  display: block;
  width: 24px;
  height: 24px;

  &--menu {
    background-image: url("../img/header/menu-icon-open.svg");
  }

  &--facebook {
    background-image: url("../img/footer/fb-logo.svg");
  }

  &--instagram {
    background-image: url("../img/footer/insta-logo.svg");
  }

  &--twitter {
    background-image: url("../img/footer/twitt-logo.svg");
  }
}