@import "../../assets/style/index.scss";

.about {
  background-image: url("../../assets/img/about/Crumbs.png");
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: 50% 70%;

  &__content {
    padding-top: 72px;

    @include onTablet {
      @include pageGrid;
      padding-top: 152px;

    }
  }

  &__title {
    font-weight: 400;
    font-size: 48px;
    line-height: 85%;
    letter-spacing: -2.4px;
    color: $color-font-mode-red;
    text-transform: uppercase;

    @include onTablet {
      font-size: 56px;

      grid-column: span 4;
    }
  }

  &__desc {
    padding-top: 32px;
    line-height: 150%;
    letter-spacing: -0.16px;

    @include onTablet {
      padding-top: 0;
      grid-column: span 4;
    }
  }

  &__numbers {
    display: flex;
    flex-direction: column;
    gap: 48px;
    padding-top: 64px;
    padding-bottom: 72px;
    
    @include onTablet {
      @include pageGrid;
      grid-column: span 8;
    }
  }
}

.numbers {

  &__number {
    display: flex;
    flex-direction: column;
    gap: 8px;
    cursor:default;
    transition: transform .5s;
    
    @include onTablet {
      grid-column: span 4;
    }
    
    @include onDesktopL {
      grid-column: span 2;
    }
    
    &:hover {
      transform: scale(1.05);
    }
  }

  &__year {
    font-size: 96px;
    line-height: 85%;
    letter-spacing: -4.8;
    color: $color-font-mode-red;
  }
  
  &__achievement {
    color: #1C1A26;
  }
}